<!doctype html>
<html>
<head>
<title>Data</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<h1>Data</h1>
	<table style="width: 100%;">
		<tr>
			<th>date</th>
			<th>avg</th>
			<th>total votes</th>
			<th>comments</th>
		</tr>
		{% for row in data %}
		<tr>
			<td class="centered"> {{row['date']}}</td>	
			<td class="centered"> {{row['feelingavg'].__str__().replace('.', ',')}}</td>
			<td class="centered"> {{row['votes']}}</td>			
			<td class="centered"> {{row['comments']}}</td>					
		</tr>	
		{% endfor %}
	</table>
</body>
</html>