<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>How is it going?</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<h3>{{today}}</h3>
  <h1>How is it going?</h1>
	<form action="{{ url_for('add_entry') }}" method="post">
		<div class="centered">
	 		<div class="left">
				<img id="happy" src="{{
			  	url_for('static', filename='images/pitr_LEGO_smiley_--_happy.png')}}" alt=":-)" /> 	<br>
					<input type="radio" name="feeling" value="2" id="rhappy" />
			</div>
		  <div class="left">
				<img id="neutral" src="{{
			  	url_for('static', filename='images/pitr_LEGO_smiley_--_calm.png')}}" alt=":-|" /> 	<br> 				
					<input type="radio" name="feeling" value="1" id="rneutral" checked />
			</div>
			<div class="left">
				<img id="unhappy" src="{{
			  	url_for('static', filename='images/pitr_LEGO_smiley_--_sad.png')}}" alt=":-(" /> 	 	<br>
					<input type="radio" name="feeling" value="0" id="runhappy" />	
			</div>
			<br style="clear: left;" />
		</div>

	<p>
		<label for="comment">Comment:</label> <br />
		<textarea id="comment" name="comment" cols="74" rows="3"></textarea>
	</p>
	<p>
		<input type="hidden" name="category" value={{cat}}>
	<input type="submit" value="SUBMIT" />
	</p>
	</form>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{
  	url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>
	
	<script type=text/javascript>
	  $(function() {
	    $('img#happy').bind('click', function() {
		    var radio = $('#' + 'rhappy');
		    radio[0].checked = true;
	      return false;
	    });
	  });

	  $(function() {
	    $('img#neutral').bind('click', function() {
		    var radio = $('#' + 'rneutral');
		    radio[0].checked = true;
	      return false;
	    });
	  });

	  $(function() {
	    $('img#unhappy').bind('click', function() {
		    var radio = $('#' + 'runhappy');
		    radio[0].checked = true;
	      return false;
	    });
	  });
	</script>
</body>
</html>