<!doctype html>
<html>
<head>
<title>Data</title>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<h1>Niko Niko Calendar</h1>
  <p>Displays last 20 days with color coding for the selected team</p>
  <canvas id="myCanvas" width="1000px" height="700px">
  </canvas>  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script> 
    
    <script type=text/javascript>
      $(function() {
        var c=document.getElementById("myCanvas");
        var ctx=c.getContext("2d");
        
        $.getJSON($SCRIPT_ROOT + '/json_data?category={{request.args['category']}}', function(data) {
          var x = 0;
          var y = 0;
          var color_padding = 2;
          var date_padding = 6;
          var feeling_size = 30;
          $.each(data['data'], function(index, val) {
              x = 0;
              var date_text = val['date']
              ctx.font="14px Arial";
              ctx.fillStyle="black";
              ctx.fillText(date_text,x,y+feeling_size/2);
              var metrics = ctx.measureText(date_text);
              x += metrics.width;
              $.each(val['feelings'], function(index2, val2) {
                if (val2 == "0")
                  ctx.fillStyle="red";
                if (val2 == "1")
                  ctx.fillStyle="yellow";
                else if (val2 == "2")
                  ctx.fillStyle="green";
                ctx.fillRect(x+date_padding,y,feeling_size,feeling_size);
                x += feeling_size + color_padding;                
              });
              y += feeling_size + color_padding;
          });            
        });
      });
    </script>     
</body>
</html>